.logo{
    height: 64px;
    width: 64px;
}
.iniciar{
    box-sizing: border-box;
    padding: 25px;
    /*margin: 170px 500px;*/
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.479);
    border-radius: 30px;
    box-shadow: 0 0 20px 0 rgb(255, 255, 255);
}
.checkbox{
    width: auto;
}
input{
    margin: 10px;
    padding: 10px;
    width: 355px;
    display: flex;
    justify-content: center;
    border: none;
    border: solid 2px rgba(136, 136, 136, 0.596);
    color: #fffafa;
    background: transparent;
    border-radius: 15px;
}
label{
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #ffffffb6;
}
.frontal{
    /*display: flex;
    justify-content: center;*/
    /*margin-top: 100px;*/
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}
.cuadro{
    padding: 30px;
    /*border: solid rgb(95, 219, 209);*/
    border-radius: 25px;
    width: 500px;
    height: 500px;
    /*background-color: #111;
    border: solid 5px rgb(155, 240, 255);*/
    /*height: 300px;*/
    /*width: 300px;*/
   /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;*/
    /*background: rgba(0, 0, 0, 0.932);
    background-size: cover;
    background-attachment: fixed;*/
    margin: auto;
    /*box-shadow: 0 0 40px 0 #fff;*/
}
h3{
    color: #fff;
    font-size: 35px;
}
html{
    /*background-image: url(img/bbn.svg);*/
    background-color: black;
}

body{
    margin: 0;
    /*background: linear-gradient(rgba(0, 0, 0, 0.836), #045252d3);
    height: 680px;*/
}
/*.contacto{
    background-color: white;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100px;
    width: 1350px;
    /*margin: 150px 500px -8px 0;
    color: black;
    margin: auto;
}/*
.iconos{
    width: 16px;
    height: 16px;
}*/
.registrate{
    margin: auto;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.404);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 100px;
    width: 500px;
    border: solid 5px transparent;
    border-radius: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 15px 0 white;
    text-align: center;
}
a{
    color: rgba(255, 255, 255, 0.322);
}
.registrar{
    width: 500px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    padding: 25px;
    background-color: #000000;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 #fff;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /*text-align: center;*/
}
/*input{
    margin-bottom: 12px;
    background-color: transparent;
    color: #fff;
    border-radius: 15px #fff;
    border: solid 1px #6665;
}*/
fieldset{
    border-radius: 20px;
    color: #ffffffad;
}
legend{
    border-radius: 15px;
    color: rgba(255, 255, 255, 0.74);
    font-size: 35px;
}
.regresar{
    margin-left: 25px;
    margin-top: 25px;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    /*text-transform: uppercase;*/
}
