.foot{
    background-color: #1c1c1c ;
    margin-top: 0;
}
#contacto{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content--foot{
    display: flex;
}
.h2--contacto{
    color: #E0E0E0;
    font-size: 2em;
    margin-bottom: 15px;
}
.redes-sociales{
    padding: 20px;
    margin: 15px;
    font-family: 'Courier New', Courier, monospace;
    color: #00cc44;
}
.help{
    color: #E0E0E0;
}
.a--help{
    color: #E0E0E0;
}
.contenedor-modal{
    box-shadow: 0 0 0 100vmax #0d0d0dbb;
    display: none;
}
.contenedor-modal.abrir{
    display: flex;
}
.div-modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c1c;
    padding: 50px;
    border-radius: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
}
.p-modal{
    text-align: center;
    margin: auto;
    width: 500px;
}
.enlace-modal{
    cursor: pointer;
    margin-top: 50px;
    padding: 20px 50px;
    border-radius: 15px;
    background-color: #0d0d0d;
    color:#00cc44;
}
.enlace-modal:hover{
    background-color: #00cc44;
    color:#0d0d0d;
}
.modalcerrar{
    margin-top: 4px;
    position: relative;
    left: 350px;
    top: -42px;
    color: #00cc44;
    cursor: pointer;
}
@media(max-width: 800px){
    .redes-sociales{
        margin: 8px;
        margin-top: 2px;
        padding: 5px;
        display: flex;
        flex-direction: column;
    }
}