@import "./cuerpo.css";
@import "./foot.css";

* {
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #0D0D0D;
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: solid #1C1C1C;
}

.navbar {
    margin: 0;
    display: flex;
    align-items: center;
}

.list {
    display: inline-block;
    padding: 20px 15px;
    box-sizing: border-box;

}

.link__nav {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: #00FF85;
    padding: 25px 8px;
}

.link__nav:hover {
    background-color: #1A1A1A;
}

.iniciar--seccion {
    background-color: #00FF85;
    color: #0D0D0D;
    padding: 15px 12px;
    border-radius: 15px;
    border: solid 1px;
    position: relative;
    left: 400px;
}

.iniciar--seccion:hover {
    background-color: transparent;
    color: #00FF85;
    border: 1px solid #00FF85;
    cursor: pointer;
}

.logo {
    width: 48px;
    height: 100%;
    vertical-align: middle;
}

.logo--li {
    margin: 0;
}

@media(max-width:800px) {
    .nav {
        flex-direction: column;
        position: fixed;
    }

    .navbar {
        top: 70px;
        background-color: #0D0D0D;
        box-shadow: 0 0 0 100vmax #0D0D0Dbb;
        position: fixed;
        display: none;
        flex-direction: column;
        max-height: 0;
        transition: max-height 3s ease;
    }
    .navbar.responsive {
        display: flex;
        max-height: 400px;
    }

    .iniciar--seccion {
        display: flex;
        flex-direction: column;
        left: 0;
    }
}